.menu{
    display:flex;
    justify-content:space-evenly;
    background-color:rgba(255, 245, 245, 0.6);
}
.body{
    display:flex;
    justify-content:center;
}
body{
    background-image:url("images/bg.jpg");
    background-repeat:repeat-y;
    background-size:cover;
}
.img{
    margin-left: 500px;
}
.facts{
    background-color:rgba(255,255,255,0.4);
}
h2{
    background-color:rgba(240, 128, 128, 0.6);
    font-family:castellar;
}
.grid{
    display:flex;
    flex-wrap:wrap;
}
.origami{
    border:5px solid black;
    border-radius:20px;
    width:48%;
    margin-left: 10px;
    margin-top: 10px;
}
button{
    cursor:pointer;
    width:24%;
    background-color:cornsilk;
    color:coral;
    border:1px solid black;
    border-radius:5px;
}