.menu{
    display:flex;
    justify-content:space-evenly;
    padding:15px;
    border:5px;
}
.body{
    display:flex;
    justify-content:center;
}
a:active{
    color:tomato;
}
a{
    text-decoration:none;
}
body{
    background-image:url("images/bg.jpg");
    background-repeat:repeat-y;
    background-size:cover;
    margin:0px;
}
.origami img{
    position:relative;
    border:3px solid black;
    border-style:double;
    border-radius:10px;
    width:30%;
    height:50%;
    margin-left:2%;
    background-color: rgba(255, 255, 255, 0.5);
}
.menu img{
    background-color: rgba(255, 255, 255, 0.5);
}
.facts{
    background-color:rgba(255,255,255,0.4);
    margin-left: 60px;
    margin-top: 325px;
    width:50%;
    font-size: 20px;
    position:absolute;
    left:60%;
    top:-50%;
    transform:translate(-50%,-0%);
}
h2{
    background-color:rgba(240, 128, 128, 0.6);
    font-family:castellar;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    margin:2px;
}
.origami{
    border:5px solid rgba(240, 128, 128, 0.6);
    border-radius:10px;
    width:46%;
    height:fit-content;
    margin-left: 18px;
    margin-top: 20px;
    margin-right:25px;
    padding:0px;
}
.origami:hover{
    transform:scale(1.11);
    height:520px;
}
button{
    cursor:pointer;
    width:24%;
    background-color:cornsilk;
    color:coral;
    border:1px solid #000000;
    border-radius:5px;
}
iframe{
    float:right;
}
